.header-bar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
    color: black; 
    padding: 10px 20px; 
}

.logo-container {
    width: 115px;
    height: 33px;
    position: absolute;
    top: 10px;
    left: 0;
}

.meeting-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-left:150px;
}

.meeting-date {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #ACACAC;
    margin-left: 15px;
}

.meeting-time {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #ACACAC;
    margin-left: 15px;
}

.user-name {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin-left: auto;
    margin-right: 20px;
}

.video-stream {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px; 
}

.video-stream h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px; 
    margin-bottom: 10px; 
    margin-left: auto;
}

.right-sidebar {
    position: absolute;
    top: 65px;
    right: 0;
    bottom: 10px;
    width: 350px; 
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    transition: width 0.3s;
}

@media screen and (max-width: 1151px) {
    .right-sidebar {
        width: 10%; 
    }
}



.chat-box {
    margin-top: 100px;
    width: 100%;
}

.chat-box h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 10px;
}

.chat-messages {
    max-height: 100px;
    margin-top: 70px;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.chat-box input {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-right: 10px;
    margin-top: 400px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border: 1px solid #F6F6F6;
    border-radius: 88px;
    text-align: center;
}

.chat-box button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    background-color: #7CD2D7;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
}

.bottom-bar {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDF0F6; 
    padding: 10px 0;
    z-index: 1;
}

.mic {
    width: 50px; 
    height: 50px; 
    margin-right: 10px; 
}

.videobutton {
    width: 50px; 
    height: 50px; 
    margin-right: 30px; 
    border: none;
}


.chat {
    width: 50px; 
    height: 50px; 
    margin-left: 25px;
    margin-right: 30px; 
}


.plus {
    width: 50px; 
    height: 50px; 
    margin-right: 40px;
    position: relative; 
    border: none;
}

.model-selection-menu {
    background-color: #F6F6F6; 
    border: 1px solid #ccc; 
    border-radius: 5%; 
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 10px; 
    position: absolute;
    top: auto; 
    bottom: 70px; 
    right: 10px; 
    z-index: 1;
}

.model-selection-menu ul {
    list-style: none; 
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

.model-selection-menu li {
    font-family: 'Poppins', sans-serif;
    cursor: pointer; 
}

.model-selection-menu li:hover {
    background-color: #eee; 
}
  

.end {
    width: 128px; 
    height: 51px; 
    margin-right: 30px; 
}

/* .button-video {
    background-color: #007bff; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  } */

  .button-accept {
    background-color: #7CD2D7; 
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
  }